.feed {
  padding-bottom: 48px;
  &__item {
    display: flex;
    margin-top: 60px;
    img {
      width: 169px;
      height: 169px;
    }
  }
  &__text {
    margin-left: 60px;
    padding-right: 60px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    color: #0d0d0d;
  }
  &__count {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
  }
  &__descr {
    font-weight: 300;
    font-size: 16px;
    color: #0d0d0d;
    margin-top: 10px;
  }
  .tns-nav {
    text-align: center;
    margin: 10px 0;
  }
  .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
  }
  .tns-nav > .tns-nav-active {
    background: $main-color;
  }
}
